*{
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

body{
    overflow-x: hidden;
    
}

Header {
    overflow: hidden;
    background-color: white;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 45%;
}

.menu-toggle {
    display: none; /* Hidden by default */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.options {
    width: 40%;
    font-size: larger;
}

.options ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.options ul li {
    list-style: none;
    cursor: pointer;
}

.get-in-touch {
    width: 120px;
    height: 44px;
    font-size: medium;
    outline: none;
    border: none;
    color: white;
    background-color: #4962bf;
    border-radius: 50px;
    cursor: pointer;
}




.main-hero{
    /* max-width: 1280px; */
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: calc(100vh - 180px);
}

.side-hero{
    width: 40%;
}

.side-hero ul{
    display: flex;
    flex-direction: column;
}

.side-hero li{
    list-style: none;

} 

.side-hero h1{
    font-size: 4.0rem ;
  
}
.side-hero h2{
    /* font-size: 4.5rem; */
    margin-top: 25px;  
}
.side-hero p{
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 19px;
   font-weight: 600;
}

.what-book ul{
    width: 80%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.what-book li{
    list-style: none;
}

.whatsapp{
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #18af50;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.b-y-c{
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    background-color: black;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.n-side-about img{
    height: 550px;
}

.main-about{
    max-width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;

    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color: #4963bf0a;
    /* min-height: calc(100vh - 250px); */
}

.side-about{
    width: 40%;
 
}
.image-side-about img{
    height: 570px;
}
.side-about ul{
    display: flex;
    flex-direction: column;
}

.side-about li{
    list-style: none;

} 

.side-about h1{
    font-size: 4.5rem;
  
}
.side-about h2{
    /* font-size: 4.5rem; */
    margin-top: 25px;  
}
.side-about p{
    width: 100%;
    margin-top: 20px;
    /* margin-bottom: 25px; */
    font-size: 20px;
    font-weight: 500;
    line-height: 155%;
   
}

.about-list{
    margin-top: 20px;
}
.progress p{

    font-size: 18px;

   
}

#about-us{
    font-size: larger;

}

.image-about{

    width: 600px;
    height: 300px;
    background-color: #4962bf;
    transform: rotate(20deg);
}

/* Initial state (before scrolling) */
.image-side-about {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.side-about {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* When elements become visible */
.show {
    opacity: 1;
    transform: translateX(0);
}


.main-services{
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-services{
    font-size: 4rem;
    margin-bottom: 30px;
}

.card-side-services ul {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-side-services li{
    list-style: none;
    margin-right: 15px;
}

.card-service{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 270px;
    height: 300px;
    padding: 40px;
    cursor: pointer;
}

.card-service h1{
    font-size: 28px;
}
.card-service p{
    font-size: 17px;
}

.card-service:hover{
    box-shadow: 1px 5px 10px 1px #888888ad;
}

.card-side-services, .card-service {
    opacity: 0;
    transform: scale(0.8) rotateX(20deg);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    perspective: 1000px;
}

.card-side-services.show, .card-service.show {
    opacity: 1;
    transform: scale(1) rotateX(0deg);
}


.main-project{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-projects{
    font-size: 4rem;
    margin-bottom: 30px;
}


.card-side-projects li{
    list-style: none;
    margin-right: 10px;
    margin-bottom: 5px;
    
}

.card-side-projects ul {
    max-width: 1600px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.card-project img{
    width: 480px;
}

.card-project {
    opacity: 0;
    transform: translateY(50px) scale(0.8); /* Start lower and smaller */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* When visible */
.card-project.show {
    opacity: 1;
    transform: translateY(0px) scale(1);
}



.main-contact{
    margin-top: -30px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    /* min-height: calc(100vh - 250px); */
}

#side-contact{
    font-size: 5.5rem;
}

.side-contact ul{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
}

.side-contact li{
    list-style: none;
}
.side-contact {
   width: 40%;
}
.ready{
    font-size: 1.2rem;
    font-weight: 600;
    /* margin-top: 25px; */
    line-height: 180%;
    margin-bottom: 25px;
}
.ready-points{
    font-size: 1.3rem;
    font-weight: 600;
    /* margin-top: 25px; */
    line-height: 180%;
    margin-top: -25px;
    margin-bottom: 50px;
    
}

.side-contact li h1{
    font-size: 2.7rem;
    margin-bottom: 30px;
}

.e-p-o{
    width: 50%;
    display: flex;
    /* justify-content: space; */
    align-items: center; 
    margin-bottom: 50px;
   
}

.e-p-o img{
    width: 50px;
    margin-right: 15px;
}

.email-head{
    display: flex;
    justify-content: start;
    /* align-items: center; */
    flex-direction: column;
    
}
.email-head p{
    margin-top: 2px;
    font-size: 1.0rem;    
}


.n-side-contact{
    width: 600px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 15px;
    align-items: center;
    /* justify-content: space-evenly; */
}
.contact-headline{
    width: 95%;
    margin-top: 50px;
    text-align: left;
    
    font-family:monospace;
}

#callback-head{
    padding-left: 20px;
    font-size: 2rem;
}
#callback{
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #4962bf;
}

.n-side-contact li{
    list-style: none;
    margin-top: 40px;
}

 
#name{
    width: 210px;
    height: 40px;
    margin-right: 10px;
    padding: 5px;
    padding-left: 10px;
    font-size: larger;
} 

#name:placeholder-shown{
    font-size: larger;
    
}

#email{
    width: 300px;
    height: 50px;
    /* padding: 5px; */
    padding-left: 10px;
    font-size: larger;
}
#email:placeholder-shown{
    font-size: larger;
}

#code{
    width: 70px;
    height: 40px;
    margin-right: 20px;
    padding: 5px;
    padding-left: 10px;
    font-size: larger;
} 

#code:placeholder-shown{
    font-size: larger;
}

#number{
    width: 420px;
    height: 40px;
    /* margin-right: 10px; */
    padding: 5px;
    padding-left: 10px;
    font-size: larger;
} 

#number:placeholder-shown{
    font-size: larger;
}


#requirements{
    width: 97%;
    height: 150px;
    /* margin-right: 10px; */
    padding: 5px;
    padding-left: 10px;
    font-size: larger;
} 

#requirements:placeholder-shown{
    font-size: larger;
}

.get-callback{
    width: 550px;
    height: 60px;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

#Whatsapp-message{
    margin-top: 20px;
    font-size: 1.4rem;
}
#Quote-message{
    font-size: 1.1rem;
    margin-top: 8px;
    font-weight: 500;
    color: #4962bf;
}

.whatsapp-contact{
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #25d366;
    width: 550px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 50px;
}
footer{
    margin-top: 70x;
    background-color: #4962bf;
    height: 150px;
    padding: 50px;
}
.main-footer img{
    width: 200px;
}
.main-footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.main-footer li{
    list-style: none;
    /* width: 400px; */
}

.main-footer h1{
    font-size: 20px;
}
.main-footer p{
    margin-top: 10px;
    font-size: large;
    color: white;
    line-height: 200%;
}

@media (min-width: 100px) and (max-width: 399px){


    .what-book ul{
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .whatsapp{
        color: white;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 0.9rem;
        background-color: #18af50;
        width: 120px;
        height: 50px;
        cursor: pointer;
    }


    .b-y-c{
        color: white;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 0.9rem;
        background-color: black;
        width: 170px;
        height: 50px;
        cursor: pointer;
    }
    


    .n-side-contact{
        margin-top: 10px;
        padding-right: 5px;
        padding: 15px;
        width: 325px;
     }
     #side-contact{
        font-size: 2.1rem;
        margin-bottom: 100px;
     }
     

    .contact-headline {
        width: 95%;
        margin-top: 30px;
        text-align: left;
        font-family: monospace;
    }

    #callback-head {
        padding-left: 10px;
        font-size: 1.4rem;
    }

    #callback {
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 10px;
        font-weight: 600;
        font-size: 0.9rem;
        color: #4962bf;
    }

    .n-side-contact li {
        list-style: none;
        margin-top: 30px;
    }

    #name {
        width: 300px;
        height: 30px;
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 5px;
        padding-left: 10px;
        font-size: medium;
    }

    #name:placeholder-shown {
        font-size: medium;
    }

    #email {
        width: 305px;
        height: 40px;
        padding-left: 10px;
        font-size: large;
    }

    #email:placeholder-shown {
        font-size: medium;
    }

    #code {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        font-size: medium;
    }

    #code:placeholder-shown {
        font-size: medium;
    }

    #number {
        width: 235px;
        height: 30px;
        padding: 5px;
        padding-left: 10px;
        font-size: medium;
    }

    #number:placeholder-shown {
        font-size: medium;
    }

    #requirements {
        width: 91%;
        height: 150px;
        padding: 5px;
        padding-left: 10px;
        font-size: medium;
    }

    #requirements:placeholder-shown {
        font-size: medium;
    }

    .get-callback {
        width: 320px;
        height: 50px;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
        color: white;
        border-radius: 15px;
        cursor: pointer;
    }

    #Whatsapp-message {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    #Quote-message {
        font-size: 1rem;
        margin-top: 8px;
        font-weight: 500;
        color: #4962bf;
    }

    .whatsapp-contact {
        color: white;
        border: none;
        outline: none;
        border-radius: 15px;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: #25d366;
        width: 320px;
        height: 50px;
        cursor: pointer;
        margin-bottom: 50px;
    }


    .card-project img{
        width: 350px;
    }




    .options {
        display: none; /* Hide by default */
        position: absolute;
        top: 90px; /* Adjust based on your navbar height */
        left: 15%;
        right: 0;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease-in-out; /* Smooth transition */
        opacity: 0; /* Initially hidden */
        transform: translateY(-20px); /* Initially moved up */
    }

    .options.show {
        display: flex;
        opacity: 1;
        transform: translateY(0); /* Moves the list into view */
    }

    .options ul {
        display: flex;
        flex-direction: column; /* Stack the options vertically */
        gap: 15px;
        align-items: center;
    }

    .options ul li {
        font-size: 18px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .options ul li:hover {
        background-color: #f0f0f0;
        border-radius: 5px;
    }

    .menu-toggle {
        display: flex; /* Show the menu toggle on small screens */
    }



    .menu-toggle.open .bar:nth-child(1) {
        transform: rotate(45deg); /* Rotate top bar */
        position: relative;
        top: 8px; /* Adjust position */
    }

    .menu-toggle.open .bar:nth-child(2) {
        opacity: 0; /* Hide middle bar */
    }

    .menu-toggle.open .bar:nth-child(3) {
        transform: rotate(-45deg); /* Rotate bottom bar */
        position: relative;
        top: -8px; /* Adjust position */
    }


    
    .side-hero h1 {
        font-size: 2.3rem;
        /* color: #4962bf; */
    }
    .side-hero p {
        font-size: 15px;
        /* color: #4962bf; */
    }
    
    .main-hero{
        justify-content: center;
    }
    .side-hero{
        width: 90%;
    }
    .n-side-about img{
        display: none;
    }
    .options {
        width: 70%;
        font-size: 16px;
    }
    .image-side-about img{
        display: none;
    }
    .side-about {
        width: 90%;
    }
    .side-about h1{
       font-size: 3rem;
    }
    .side-about p{
       font-size: 15px;
    }

    .main-about{
        width: 100%;
    }


    .card-service{
        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-direction: column;
        border: 1px solid lightgray;
        width: 240px;
        height: 300px;
        padding: 40px;
        cursor: pointer;
    }

    .card-side-services ul {
        flex-wrap: wrap;
        max-width: 1000px;
        justify-content: center;
    }

    .card-side-services li {
        margin-bottom: 40px;
        /* margin-right: 40px; */
    }

    .side-services h1{
        font-size: 2.5rem;
    }
    .side-projects h1{
        font-size: 2.5rem;
    }

    .main-contact{
        justify-content: center;
        flex-direction: column;
    }

    .side-contact {
        width: 90%;
     }
     .ready{
         font-size: 1rem;
         font-weight: 600;
         /* margin-top: 25px; */
         line-height: 180%;
         margin-bottom: 25px;
     }
     .ready-points{
         font-size: 1rem;
         font-weight: 600;
         /* margin-top: 25px; */
         line-height: 180%;
         /* margin-top: -25px; */
         margin-bottom: 50px;
         
     }
     
     .side-contact li h1{
         font-size: 1.4rem;
         margin-bottom: 30px;
     }
     
     #Location{
        display: none;
     }

     .e-p-o img{
        width: 40px;
     }
     

     .main-footer h1{
        font-size: 18px;
    }
    .main-footer p{
        margin-top: 10px;
        font-size: medium;
        color: white;
        line-height: 200%;
    }
    .main-footer img{
        width: 100px;
        margin-bottom: 10px;
        /* display: none; */
    }
    footer{
        height: 10px;
        color: #4962bf;
        /* background-color: white; */
        padding-bottom: 100px;
    }
    .footer-services{
        display: none;
    }















}
@media (min-width: 400px) and (max-width: 499px){

    .what-book ul{
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .whatsapp{
        color: white;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 1rem;
        background-color: #18af50;
        width: 150px;
        height: 50px;
        cursor: pointer;
    }


    .b-y-c{
        color: white;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 1rem;
        background-color: black;
        width: 200px;
        height: 50px;
        cursor: pointer;
    }
    


    .n-side-contact{
        margin-top: 10px;
        padding-right: 5px;
        padding: 15px;
        width: 350px;
     }
     #side-contact{
        font-size: 2.3rem;
        margin-bottom: 100px;
     }
     

    .contact-headline {
        width: 95%;
        margin-top: 30px;
        text-align: left;
        font-family: monospace;
    }

    #callback-head {
        padding-left: 10px;
        font-size: 1.5rem;
    }

    #callback {
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 10px;
        font-weight: 600;
        font-size: 1rem;
        color: #4962bf;
    }

    .n-side-contact li {
        list-style: none;
        margin-top: 30px;
    }

    #name {
        width: 320px;
        height: 30px;
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 5px;
        padding-left: 10px;
        font-size: medium;
    }

    #name:placeholder-shown {
        font-size: medium;
    }

    #email {
        width: 320px;
        height: 40px;
        padding-left: 10px;
        font-size: large;
    }

    #email:placeholder-shown {
        font-size: medium;
    }

    #code {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        font-size: medium;
    }

    #code:placeholder-shown {
        font-size: medium;
    }

    #number {
        width: 255px;
        height: 30px;
        padding: 5px;
        padding-left: 10px;
        font-size: medium;
    }

    #number:placeholder-shown {
        font-size: medium;
    }

    #requirements {
        width: 91%;
        height: 150px;
        padding: 5px;
        padding-left: 10px;
        font-size: medium;
    }

    #requirements:placeholder-shown {
        font-size: medium;
    }

    .get-callback {
        width: 340px;
        height: 55px;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
        color: white;
        border-radius: 15px;
        cursor: pointer;
    }

    #Whatsapp-message {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    #Quote-message {
        font-size: 1rem;
        margin-top: 8px;
        font-weight: 500;
        color: #4962bf;
    }

    .whatsapp-contact {
        color: white;
        border: none;
        outline: none;
        border-radius: 15px;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: #25d366;
        width: 340px;
        height: 55px;
        cursor: pointer;
        margin-bottom: 50px;
    }


    .card-project img{
        width: 380px;
    }




    .options {
        display: none; /* Hide by default */
        position: absolute;
        top: 90px; /* Adjust based on your navbar height */
        left: 15%;
        right: 0;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease-in-out; /* Smooth transition */
        opacity: 0; /* Initially hidden */
        transform: translateY(-20px); /* Initially moved up */
    }

    .options.show {
        display: flex;
        opacity: 1;
        transform: translateY(0); /* Moves the list into view */
    }

    .options ul {
        display: flex;
        flex-direction: column; /* Stack the options vertically */
        gap: 15px;
        align-items: center;
    }

    .options ul li {
        font-size: 18px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .options ul li:hover {
        background-color: #f0f0f0;
        border-radius: 5px;
    }

    .menu-toggle {
        display: flex; /* Show the menu toggle on small screens */
    }



    .menu-toggle.open .bar:nth-child(1) {
        transform: rotate(45deg); /* Rotate top bar */
        position: relative;
        top: 8px; /* Adjust position */
    }

    .menu-toggle.open .bar:nth-child(2) {
        opacity: 0; /* Hide middle bar */
    }

    .menu-toggle.open .bar:nth-child(3) {
        transform: rotate(-45deg); /* Rotate bottom bar */
        position: relative;
        top: -8px; /* Adjust position */
    }


    
    .side-hero h1 {
        font-size: 2.5rem;
        /* color: #4962bf; */
    }
    .side-hero p {
        font-size: 16px;
        /* color: #4962bf; */
    }
    
    .main-hero{
        justify-content: center;
    }
    .side-hero{
        width: 90%;
    }
    .n-side-about img{
        display: none;
    }
    .options {
        width: 70%;
        font-size: 16px;
    }
    .image-side-about img{
        display: none;
    }
    .side-about {
        width: 90%;
    }
    .side-about h1{
       font-size: 3.5rem;
    }
    .side-about p{
       font-size: 15px;
    }

    .main-about{
        width: 100%;
    }

    .card-side-services ul {
        flex-wrap: wrap;
        max-width: 1000px;
        justify-content: center;
    }

    .card-side-services li {
        margin-bottom: 40px;
        /* margin-right: 40px; */
    }

    .side-services h1{
        font-size: 2.5rem;
    }
    .side-projects h1{
        font-size: 2.8rem;
    }

    .main-contact{
        justify-content: center;
        flex-direction: column;
    }

    .side-contact {
        width: 90%;
     }
     .ready{
         font-size: 1.2rem;
         font-weight: 600;
         /* margin-top: 25px; */
         line-height: 180%;
         margin-bottom: 25px;
     }
     .ready-points{
         font-size: 1.3rem;
         font-weight: 600;
         /* margin-top: 25px; */
         line-height: 180%;
         /* margin-top: -25px; */
         margin-bottom: 50px;
         
     }
     
     .side-contact li h1{
         font-size: 1.5rem;
         margin-bottom: 30px;
     }
     
     #Location{
        display: none;
     }

     .e-p-o img{
        width: 45px;
     }
     

     .main-footer h1{
        font-size: 18px;
    }
    .main-footer p{
        margin-top: 10px;
        font-size: medium;
        color: white;
        line-height: 200%;
    }
    .main-footer img{
        width: 100px;
        margin-bottom: 10px;
        /* display: none; */
    }
    footer{
        height: 10px;
        color: #4962bf;
        /* background-color: white; */
        padding-bottom: 100px;
    }
    .footer-services{
        display: none;
    }
}
@media (min-width: 500px) and (max-width: 699px){


    .contact-headline {
        width: 95%;
        margin-top: 30px;
        text-align: left;
        font-family: monospace;
    }

    #callback-head {
        padding-left: 10px;
        font-size: 1.9rem;
    }

    #callback {
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 10px;
        font-weight: 600;
        font-size: 1rem;
        color: #4962bf;
    }

    .n-side-contact li {
        list-style: none;
        margin-top: 30px;
    }

    #name {
        width: 160px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #name:placeholder-shown {
        font-size: large;
    }

    #email {
        width: 230px;
        height: 40px;
        padding-left: 10px;
        font-size: large;
    }

    #email:placeholder-shown {
        font-size: large;
    }

    #code {
        width: 55px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #code:placeholder-shown {
        font-size: large;
    }

    #number {
        width: 330px;
        height: 30px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #number:placeholder-shown {
        font-size: large;
    }

    #requirements {
        width: 91%;
        height: 150px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #requirements:placeholder-shown {
        font-size: large;
    }

    .get-callback {
        width: 440px;
        height: 55px;
        font-size: 1.3rem;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
        color: white;
        border-radius: 15px;
        cursor: pointer;
    }

    #Whatsapp-message {
        margin-top: 20px;
        font-size: 1.1rem;
    }

    #Quote-message {
        font-size: 1rem;
        margin-top: 8px;
        font-weight: 500;
        color: #4962bf;
    }

    .whatsapp-contact {
        color: white;
        border: none;
        outline: none;
        border-radius: 15px;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: #25d366;
        width: 440px;
        height: 55px;
        cursor: pointer;
        margin-bottom: 50px;
    }


    .card-project img{
        width: 450px;
    }





    .options {
        display: none; /* Hide by default */
        position: absolute;
        top: 90px; /* Adjust based on your navbar height */
        left: 15%;
        right: 0;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease-in-out; /* Smooth transition */
        opacity: 0; /* Initially hidden */
        transform: translateY(-20px); /* Initially moved up */
    }

    .options.show {
        display: flex;
        opacity: 1;
        transform: translateY(0); /* Moves the list into view */
    }

    .options ul {
        display: flex;
        flex-direction: column; /* Stack the options vertically */
        gap: 15px;
        align-items: center;
    }

    .options ul li {
        font-size: 18px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .options ul li:hover {
        background-color: #f0f0f0;
        border-radius: 5px;
    }

    .menu-toggle {
        display: flex; /* Show the menu toggle on small screens */
    }



    .menu-toggle.open .bar:nth-child(1) {
        transform: rotate(45deg); /* Rotate top bar */
        position: relative;
        top: 8px; /* Adjust position */
    }

    .menu-toggle.open .bar:nth-child(2) {
        opacity: 0; /* Hide middle bar */
    }

    .menu-toggle.open .bar:nth-child(3) {
        transform: rotate(-45deg); /* Rotate bottom bar */
        position: relative;
        top: -8px; /* Adjust position */
    }


    
    .side-hero h1 {
        font-size: 3rem;
        /* color: #4962bf; */
    }
    .side-hero p {
        font-size: 16px;
        /* color: #4962bf; */
    }
    
    .main-hero{
        justify-content: center;
    }
    .side-hero{
        width: 90%;
    }
    .n-side-about img{
        display: none;
    }
    .options {
        width: 70%;
        font-size: 16px;
    }
    .image-side-about img{
        display: none;
    }
    .side-about {
        width: 90%;
    }
    .side-about h1{
       font-size: 3.5rem;
    }
    .side-about p{
       font-size: 17px;
    }

    .main-about{
        width: 100%;
    }

    .card-side-services ul {
        flex-wrap: wrap;
        max-width: 1000px;
        justify-content: center;
    }

    .card-side-services li {
        margin-bottom: 40px;
        /* margin-right: 40px; */
    }

    .side-services h1{
        font-size: 3.3rem;
    }
    .side-projects h1{
        font-size: 3.5rem;
    }

    .main-contact{
        justify-content: center;
        flex-direction: column;
    }

    .side-contact {
        width: 90%;
     }
     .ready{
         font-size: 1.2rem;
         font-weight: 600;
         /* margin-top: 25px; */
         line-height: 180%;
         margin-bottom: 25px;
     }
     .ready-points{
         font-size: 1.3rem;
         font-weight: 600;
         /* margin-top: 25px; */
         line-height: 180%;
         /* margin-top: -25px; */
         margin-bottom: 50px;
         
     }
     
     .side-contact li h1{
         font-size: 1.5rem;
         margin-bottom: 30px;
     }
     
     #Location{
        display: none;
     }

     .e-p-o img{
        width: 45px;
     }
     
     .n-side-contact{
        margin-top: 10px;
        padding-right: 5px;
        padding: 10px;
        width: 470px;
     }
     #side-contact{
        font-size: 2.9rem;
        margin-bottom: 100px;
     }
     
     .main-footer h1{
        font-size: 18px;
    }
    .main-footer p{
        margin-top: 10px;
        font-size: medium;
        color: white;
        line-height: 200%;
    }
    .main-footer img{
        width: 100px;
        margin-bottom: 10px;
        /* display: none; */
    }
    footer{
        height: 10px;
        color: #4962bf;
        /* background-color: white; */
        padding-bottom: 100px;
    }
    .footer-services{
        display: none;
    }
}
@media (min-width: 700px) and (max-width:899px){
    .side-hero h1 {
        font-size: 4.3rem;
        /* color: #4962bf; */
    }
    
    .main-hero{
        justify-content: center;
    }
    .side-hero{
        width: 90%;
    }
    .n-side-about img{
        display: none;
    }
    .options {
        width: 70%;
        font-size: 16px;
    }
    .image-side-about img{
        display: none;
    }
    .side-about {
        width: 90%;
    }

    .main-about{
        width: 100%;
    }

    .card-side-services ul {
        flex-wrap: wrap;
        max-width: 1000px;
        justify-content: center;
    }

    .card-side-services li {
        margin-bottom: 40px;
        /* margin-right: 40px; */
    }

    .side-services h1{
        font-size: 4.8rem;
    }
    .side-projects h1{
        font-size: 4.8rem;
    }

    .main-contact{
        justify-content: center;
        flex-direction: column;
    }

    .side-contact {
        width: 70%;
     }
     .ready{
         font-size: 1.2rem;
         font-weight: 600;
         /* margin-top: 25px; */
         line-height: 180%;
         margin-bottom: 25px;
     }
     .ready-points{
         font-size: 1.3rem;
         font-weight: 600;
         /* margin-top: 25px; */
         line-height: 180%;
         /* margin-top: -25px; */
         margin-bottom: 50px;
         
     }
     
     .side-contact li h1{
         font-size: 2.0rem;
         margin-bottom: 30px;
     }
     
     #Location{
        display: none;
     }

     .e-p-o img{
        width: 45px;
     }
     
     .n-side-contact{
        margin-top: 10px;
     }
     #side-contact{
        font-size: 3.8rem;
        margin-bottom: 100px;
     }
     
     .main-footer h1{
        font-size: 18px;
    }
    .main-footer p{
        margin-top: 10px;
        font-size: medium;
        color: white;
        line-height: 200%;
    }
    .main-footer img{
        width: 100px;
        margin-bottom: 10px;
        /* display: none; */
    }
    footer{
        height: 10px;
        color: #4962bf;
        /* background-color: white; */
        padding-bottom: 100px;
    }
    .footer-services{
        display: none;
    }

}



@media (min-width: 900px) and (max-width: 1023px){
    
        .side-hero h1 {
            font-size: 4.3rem;
            /* color: #4962bf; */
        }
        
        .main-hero{
            justify-content: center;
            min-height: calc(100vh - 40vh);


        }
        .side-hero{
            width: 90%;
        }
        .n-side-about img{
            display: none;
        }
        .options {
            width: 70%;
            font-size: 16px;
        }
        .image-side-about img{
            display: none;
        }
        .side-about {
            width: 90%;
        }
        
        .main-about{
            margin-top: 100px;
            margin-bottom: 70px;
            width: 100%;
        }

        .card-side-services ul {
            flex-wrap: wrap;
            max-width: 1000px;
            justify-content: center;
        }
    
        .card-side-services li {
            margin-bottom: 40px;
            margin-right: 40px;
        }

        .main-contact{
            justify-content: center;
            flex-direction: column;
        }

        .side-contact {
            width: 70%;
         }
         .ready{
             font-size: 1.2rem;
             font-weight: 600;
             /* margin-top: 25px; */
             line-height: 180%;
             margin-bottom: 25px;
         }
         .ready-points{
             font-size: 1.3rem;
             font-weight: 600;
             /* margin-top: 25px; */
             line-height: 180%;
             /* margin-top: -25px; */
             margin-bottom: 50px;
             
         }
         
         .side-contact li h1{
             font-size: 2.7rem;
             margin-bottom: 30px;
         }
         
         #Location{
            display: none;
         }
         
         .n-side-contact{
            margin-top: 10px;
         }
         #side-contact{
            font-size: 4.5rem;
            margin-bottom: 100px;
         }
         

        .main-footer img{
            width: 150px;
        }

         
}
/* Default styles (for all screens) */

/* For screens 1024px to 1189px */
@media (min-width: 1024px) and (max-width: 1189px) {
    .side-hero {
        width: 45%;
    }

    .options {
        width: 70%;
        font-size: medium;
    }

    .side-hero h1 {
        font-size: 3.2rem;
    }
    .n-side-about img {
        height:  360px;
    }

    .side-hero p {
        font-size: 16px;
    }

    .side-about h1{
        font-size: 4.0rem;
      
    }
    .side-about p{
        font-size: 16px;
      
    }
    .progress p{
        font-size: 15px;
      
    }
.image-side-about img{
    margin-top: 50px;
    height: 470px;
}

.side-about {
    width: 40%;
}

.about-list {
    margin-top: 10px;
}

.n-side-about img {
    height: 350px;
}




    .card-side-projects ul {
        max-width: 1400px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .card-side-services ul {
        flex-wrap: wrap;
        max-width: 1000px;
        justify-content: center;
    }

    .card-side-services li {
        margin-bottom: 40px;
        margin-right: 40px;
    }

    .main-contact {
        margin-top: -30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .side-contact ul {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
    }

    .side-contact li {
        list-style: none;
    }

    .side-contact {
        width: 40%;
    }

    .ready {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 180%;
        margin-bottom: 25px;
    }

    .ready-points {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 180%;
        margin-top: -25px;
        margin-bottom: 50px;
    }

    .side-contact li h1 {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    .e-p-o {
        width: 50%;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

    .e-p-o img {
        margin-right: 15px;
    }

    .email-head {
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .email-head p {
        margin-top: 2px;
        font-size: 1.1rem;
    }

    .n-side-contact {
        width: 500px;
        height: auto;
        margin-top: 100px;
        margin-bottom: 50px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 15px;
        align-items: center;
    }

    .contact-headline {
        width: 95%;
        margin-top: 30px;
        text-align: left;
        font-family: monospace;
    }

    #callback-head {
        padding-left: 10px;
        font-size: 2.1rem;
    }

    #callback {
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 10px;
        font-weight: 600;
        font-size: 1.1rem;
        color: #4962bf;
    }

    .n-side-contact li {
        list-style: none;
        margin-top: 30px;
    }

    #name {
        width: 160px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #name:placeholder-shown {
        font-size: large;
    }

    #email {
        width: 260px;
        height: 40px;
        padding-left: 10px;
        font-size: large;
    }

    #email:placeholder-shown {
        font-size: large;
    }

    #code {
        width: 55px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #code:placeholder-shown {
        font-size: large;
    }

    #number {
        width: 360px;
        height: 30px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #number:placeholder-shown {
        font-size: large;
    }

    #requirements {
        width: 96%;
        height: 150px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #requirements:placeholder-shown {
        font-size: large;
    }

    .get-callback {
        width: 470px;
        height: 55px;
        font-size: 1.3rem;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
        color: white;
        border-radius: 15px;
        cursor: pointer;
    }

    #Whatsapp-message {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    #Quote-message {
        font-size: 1.1rem;
        margin-top: 8px;
        font-weight: 500;
        color: #4962bf;
    }

    .whatsapp-contact {
        color: white;
        border: none;
        outline: none;
        border-radius: 15px;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: #25d366;
        width: 470px;
        height: 55px;
        cursor: pointer;
        margin-bottom: 50px;
    }

    footer {
        margin-top: 70px;
        background-color: #4962bf;
        height: 120px;
        padding: 50px;
    }

    .main-footer ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .main-footer li {
        list-style: none;
    }

    .main-footer h1 {
        font-size: 17px;
    }

    .main-footer p {
        margin-top: 10px;
        font-size: 16px;
        color: white;
        line-height: 180%;
    }

    .main-footer img {
        width: 150px;
    }


}

/* For screens 1190px to 1280px */
@media (min-width: 1190px) and (max-width: 1280px) {
    .side-hero {
        width: 45%;
    }

    .side-hero h1 {
        font-size: 3.5rem;
    }

    .side-hero p {
        font-size: 16px;
    }

    .n-side-about img {
        height: 380px;
    }

    .side-about {
        width: 40%;
    }

    #side-contact {
        font-size: 4.7rem;
    }

    .side-about h1{
        font-size: 4.5rem;
      
    }
    .side-about p{
        font-size: 16px;
      
    }
.image-side-about img{
    height: 550px;
}


    .card-side-projects ul {
        max-width: 1400px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .card-side-services ul {
        flex-wrap: wrap;
        width: 1100px;
        justify-content: center;
    }

    .card-side-services li {
        margin-bottom: 40px;
        margin-right: 40px;
    }

    .main-contact {
        margin-top: -30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .side-contact ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .side-contact li {
        list-style: none;
    }

    .side-contact {
        width: 40%;
    }

    .ready {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 180%;
        margin-bottom: 25px;
    }

    .ready-points {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 180%;
        margin-top: -25px;
        margin-bottom: 50px;
    }

    .side-contact li h1 {
        font-size: 2.0rem;
        margin-bottom: 30px;
    }

    .e-p-o {
        width: 50%;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

    .e-p-o img {
        margin-right: 15px;
    }

    .email-head {
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .email-head p {
        margin-top: 2px;
        font-size: 1.1rem;
    }

    .n-side-contact {
        width: 550px;
        height: auto;
        margin-top: 100px;
        margin-bottom: 50px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 15px;
        align-items: center;
    }

    .contact-headline {
        width: 95%;
        margin-top: 30px;
        text-align: left;
        font-family: monospace;
    }

    #callback-head {
        padding-left: 10px;
        font-size: 2.1rem;
    }

    #callback {
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 10px;
        font-weight: 600;
        font-size: 1.1rem;
        color: #4962bf;
    }

    .n-side-contact li {
        list-style: none;
        margin-top: 30px;
    }

    #name {
        width: 190px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #name:placeholder-shown {
        font-size: large;
    }

    #email {
        width: 280px;
        height: 40px;
        padding-left: 10px;
        font-size: large;
    }

    #email:placeholder-shown {
        font-size: large;
    }

    #code {
        width: 65px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #code:placeholder-shown {
        font-size: large;
    }

    #number {
        width: 400px;
        height: 30px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #number:placeholder-shown {
        font-size: large;
    }

    #requirements {
        width: 96%;
        height: 150px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #requirements:placeholder-shown {
        font-size: large;
    }

    .get-callback {
        width: 520px;
        height: 60px;
        font-size: 1.3rem;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
        color: white;
        border-radius: 15px;
        cursor: pointer;
    }

    #Whatsapp-message {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    #Quote-message {
        font-size: 1.1rem;
        margin-top: 8px;
        font-weight: 500;
        color: #4962bf;
    }

    .whatsapp-contact {
        color: white;
        border: none;
        outline: none;
        border-radius: 15px;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: #25d366;
        width: 520px;
        height: 60px;
        cursor: pointer;
        margin-bottom: 50px;
    }

    footer {
        margin-top: 70px;
        background-color: #4962bf;
        height: 120px;
        padding: 50px;
    }

    .main-footer ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .main-footer li {
        list-style: none;
    }

    .main-footer h1 {
        font-size: 17px;
    }

    .main-footer p {
        margin-top: 10px;
        font-size: 16px;
        color: white;
        line-height: 180%;
    }

    .main-footer img {
        width: 150px;
    }


}

/* For screens up to 1450px */
@media (min-width: 1281px) and (max-width: 1450px) {
    .options {
        width: 40%;
        font-size: large;
    }

    .side-hero h1 {
        font-size: 3.5rem;
    }

    .n-side-about img {
        height: 400px;
    }

    .image-side-about img {
        height: 480px;
    }


    .main-about {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .side-about {
        width: 45%;
    }

    .side-about p {
        font-size: 16px;
    }

    .card-side-projects ul {
        max-width: 1400px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .card-side-services ul {
        flex-wrap: wrap;
        width: 1100px;
        justify-content: center;
    }

    .card-side-services li {
        margin-bottom: 40px;
        margin-right: 40px;
    }

    .main-contact {
        margin-top: -30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .side-contact ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .side-contact li {
        list-style: none;
    }

    .side-contact {
        width: 40%;
    }

    .ready {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 180%;
        margin-bottom: 25px;
    }

    .ready-points {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 180%;
        margin-top: -25px;
        margin-bottom: 50px;
    }

    .side-contact li h1 {
        font-size: 2.0rem;
        margin-bottom: 30px;
    }

    .e-p-o {
        width: 50%;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

    .e-p-o img {
        margin-right: 15px;
    }

    .email-head {
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .email-head p {
        margin-top: 2px;
        font-size: 1.1rem;
    }

    .n-side-contact {
        width: 550px;
        height: auto;
        margin-top: 100px;
        margin-bottom: 50px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 15px;
        align-items: center;
    }

    .contact-headline {
        width: 95%;
        margin-top: 30px;
        text-align: left;
        font-family: monospace;
    }

    #callback-head {
        padding-left: 10px;
        font-size: 2.1rem;
    }

    #callback {
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 10px;
        font-weight: 600;
        font-size: 1.1rem;
        color: #4962bf;
    }

    .n-side-contact li {
        list-style: none;
        margin-top: 30px;
    }

    #name {
        width: 190px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #name:placeholder-shown {
        font-size: large;
    }

    #email {
        width: 280px;
        height: 40px;
        padding-left: 10px;
        font-size: large;
    }

    #email:placeholder-shown {
        font-size: large;
    }

    #code {
        width: 65px;
        height: 30px;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #code:placeholder-shown {
        font-size: large;
    }

    #number {
        width: 400px;
        height: 30px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #number:placeholder-shown {
        font-size: large;
    }

    #requirements {
        width: 96%;
        height: 150px;
        padding: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #requirements:placeholder-shown {
        font-size: large;
    }

    .get-callback {
        width: 520px;
        height: 60px;
        font-size: 1.3rem;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
        color: white;
        border-radius: 15px;
        cursor: pointer;
    }

    #Whatsapp-message {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    #Quote-message {
        font-size: 1.1rem;
        margin-top: 8px;
        font-weight: 500;
        color: #4962bf;
    }

    .whatsapp-contact {
        color: white;
        border: none;
        outline: none;
        border-radius: 15px;
        font-size: 1.3rem;
        font-weight: 500;
        background-color: #25d366;
        width: 520px;
        height: 60px;
        cursor: pointer;
        margin-bottom: 50px;
    }

    footer {
        margin-top: 70px;
        background-color: #4962bf;
        height: 120px;
        padding: 50px;
    }

    .main-footer ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .main-footer li {
        list-style: none;
    }

    .main-footer h1 {
        font-size: 17px;
    }

    .main-footer p {
        margin-top: 10px;
        font-size: 16px;
        color: white;
        line-height: 180%;
    }

    .main-footer img {
        width: 150px;
    }
}
